<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Fleet</title>
</head>
<body>
<h1>Add Fleet</h1>
<form id="myForm" th:action="@{/fleet/add}" th:object="${fleet}" method="post" enctype="multipart/form-data" >
    <div>
        <label for="brand">Brand:</label>
        <input type="text" id="brand" name="brand" th:field="*{brand}"/>
    </div>
    <div>
        <label for="model">Model:</label>
        <input type="text" id="model" name="model" th:field="*{model}"/>
    </div>
    <div>
        <label for="description">Description:</label>
        <textarea id="description" name="description" th:field="*{description}"></textarea>
    </div>
    <div>
        <input type="file" name="file" />
    </div>
    <div>
        <label for="price">Cijena:</label>
        <input type="number" id="price" name="price" th:field="*{price}"/>
    </div>
    <div>

        <input type="hidden" id="imageFile" name="imageFile" th:field="*{image}" >
    </div>
    <button type="submit" id="submitButton">Add Fleet</button>
</form>
</body>
<script>
    const form = document.getElementById('myForm');
    const submitButton = document.getElementById('submitButton');

    form.addEventListener('submit', (event) => {
        event.preventDefault(); // spriječi podnošenje obrasca

        // postavi vrijednost polja image na "test"
        const imageInput = document.getElementById('imageFile');
        imageInput.value = 'test';

        // ponovo podnesite obrazac
        form.submit();
    });
</script>
</html>
