<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Fleet</title>
</head>
<body>
<h1>Edit Fleet</h1>

<form  th:action="@{/fleet/update/{id}(id=${fleet.id})}" th:object="${fleet}" method="post">
    <div>
        <label for="brand">Brand:</label>
        <input type="text" id="brand" name="brand" th:field="*{brand}" required />
    </div>
    <div>
        <label for="model">Model:</label>
        <input type="text" id="model" name="model" th:field="*{model}" required />
    </div>
    <div>
        <label for="image">Image URL:</label>
        <input type="text" id="image" name="image" th:field="*{image}" required />
    </div>
    <div>
        <label for="description">Description:</label>
        <textarea id="description" name="description" th:field="*{description}" required></textarea>
    </div>
    <button type="submit">Save</button>
</form>

</body>
</html>
